*{
    margin: 0;
    padding: 0;
}
body{
    padding: 5em;
    display: flex;
}
aside{
    margin-right: 3em;
}
.func div{
    margin-bottom: 1em;
}

.addCategoryForm{
    display: flex;
}